<mat-card *ngIf="(machine$ | async) as machine">
  <mat-card-title> {{ machine.name }} </mat-card-title>

  <mat-card-content>
    <dl>
      <dt class="title">Current status:</dt>
      <dd><app-machine-status [status]="machine.status"></app-machine-status></dd>

      <!-- update the real number of statuses between parenthesis -->
      <dt class="title">Statuses ({{ machine.logs.length }})</dt>

      <!-- display all the status here -->
      <dd>
        <div *ngFor="let log of machine.logs">
          <app-machine-status [status]="log.status"></app-machine-status>
          {{ log.timestamp | date: 'mediumTime' }}
        </div>
      </dd>
    </dl>
  </mat-card-content>
</mat-card>
