<mat-toolbar color="primary">
  <button mat-button routerLink="/machines">Machines app</button>

  <span class="total-time on">
    Total
    <app-machine-status [status]="'on'"></app-machine-status>
    time: {{ (statistics$ | async).on.toFixed(2) }} ({{ (statistics$ | async).onPercent.toFixed(0) }}%)
  </span>

  <span class="total-time off">
    Total
    <app-machine-status [status]="'off'"></app-machine-status>
    off: {{ (statistics$ | async).off.toFixed(2) }} ({{ (statistics$ | async).offPercent.toFixed(0) }}%)
  </span>

  <button mat-button class="sanbox" routerLink="/sandbox">Sandbox</button>
</mat-toolbar>

<div class="content"><router-outlet></router-outlet></div>
