<div class="machines-list">
  <mat-card
    mat-stroked-button
    [routerLink]="[machine.value.id]"
    [matBadge]="machine.value.logs.length"
    *ngFor="let machine of (machines$ | async | keyvalue); trackBy: trackByMachineId"
  >
    <h3>{{ machine.value.name }}</h3>
    <p><app-machine-status [status]="machine.value.status"></app-machine-status></p>
  </mat-card>
</div>
